* {
  box-sizing: border-box;
}

body {
  background-color: gold;
  color: black;
  font-size: 20px;
  font-family: "Merienda One";
  align-content: center;
}

.pokemon-list {
  align-items: center;
}
